[tool.pyright]
include = ["**/*.py"]
exclude = [
    "**/__pycache__",
    "**/node_modules",
    "**/.venv",
    "**/build",
    "**/dist",
    "**/.git"
]
venvPath = "."
venv = ".venv"
pythonVersion = "3.8"
pythonPlatform = "All"
typeCheckingMode = "basic"
reportMissingImports = true
reportMissingTypeStubs = false

[tool.pylance]
include = ["**/*.py"]
exclude = [
    "**/__pycache__",
    "**/node_modules",
    "**/.venv",
    "**/build",
    "**/dist"
]

